torch
openwakeword
faster-whisper
pvporcupine
webrtcvad
PyAudio
halo
torchaudio

pillow
streamlit
langchain_community
sentence_transformers
torchvision
lmdb
timm
chromadb

pymupdf
opencc
audio_recorder_streamlit